<nav class="navbar navbar-fixed-top navbar-default navbar-blog" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-pages">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{ site.title }}</a>
  </div>

  <div class="collapse navbar-collapse navbar-pages">
    <ul class="nav navbar-nav navbar-right hidden-print thin">
  <li>
    <a class="hidden-xs" href="/posts" title="/index">Posts</a>
    <a class="visible-xs" href="/posts" title="/index">Posts</a>
  </li>
  <li>
    <a class="hidden-xs" href="/tags" title="/index">Tags</a>
    <a class="visible-xs" href="/tags" title="/index">Tags</a>
  </li>
  <li>
    <a class="hidden-xs" href="/projects" title="/projects">Projects</a>
    <a class="visible-xs" href="/projects" title="/projects">Projects</a>
  </li>
  <li>
    <a class="hidden-xs" title="About me" href="/about">About</a>
    <a class="visible-xs" title="About me" href="/about">About</a>
  </li>
</ul>
</div>
</nav>
